### Say "Hello" to the world in Python

##### [Tip]: To execute the following codes, select the cell and press shift + Enter)

In [1]:
# First python output

print('Hello, World!')

Hello, World!

In [2]:
# Check the python version

import sys
print(sys.version)

3.7.6 (default, Jan  8 2020, 20:23:39) [MSC v.1916 64 bit (AMD64)]

In [3]:
# Build in error message( Syntax error)

print("This will be printed")
frint("This will return an error")
Print("This will not be printed")

This will be printed

NameError: name 'frint' is not defined

##### Rules for variable naming:
1. Variable names must start with a letter or an underscore
2. The remainder of your variable name may consist of letter, number and underscores
3. Names are case sensitive
4. What '=' does is assign the reference of the object on the right to the name on the left

In [ ]:
# Integer can be positive or negative (R)

2

In [ ]:
# Assign integer to a variable

a = 2
print(a)

In [ ]:
# Float represents real number.Also includes numbers with decimals

3.14

In [ ]:
# Floating point assigned to a variable

pi = 3.14
print(pi)

In [ ]:
#String

"Humanoid Robots"

In [ ]:
# Assign string to a variable

name = 'Humanoid Robots'
print(name)

In [ ]:
# Empty value or null data type

x = None
print(x)

In [ ]:
#Variable assignment works from left to right. Else gives you an syntax error

0 = x

In [ ]:
# Type of value 10

type(10)

In [ ]:
# Type of value 1.5

type(1.5)

In [ ]:
# Type :"Humanoid Robots"

type("Humanoid Robots")

In [ ]:
# Type of boolean
q = True
print(type(q))

In [ ]:
# Type of None [ Execute ]
x = None
print(type(x))

### SHORTCUT KEYS ##

- m --> change cell to markdown
- y --> change cell to code
- a --> insert cell above
- b --> insert cell below
- dd --> delete a selected cell
- Shift L --> Toggle line numbers
- Ctrl + / --> comment and multiline comment


#### Click here for [Jupyter Documents](https://jupyter-notebook.readthedocs.io/en/stable/index.html)

### Typecasting : Converting from one object type to a different object type 
##### As in, Convert an integer into a float (e.g. 5 to 5.0

#### Converting int to float ( cast integer 2 to float )

In [ ]:
float(2)

In [ ]:
# Casting 1.1 to integer will result in loss of information

int(1.1)

In [ ]:
# Round up or down using round() function

print(round(1.7))
print(round(1.4))

In [ ]:
# Convert a string into an integer

int('100')

In [ ]:
# Convert a string into an integer with error

int('1 to 100 for print')

In [ ]:
# Convert the string "1.2" into a float

float('1.2')

[Tip] : strings can be represented with single qoutes '100' or double qoutes"100"

In [ ]:
# Convert an integer(100) to a string [ Execute ]

str(100)

### Expression and variables

#### Expressions

###### Includes operations among compatible types ( e.g., integers and floats) as in, +,-,*

In [ ]:
# Addition operation expression

10 + 11 + 22 + 33

In [ ]:
# Subtraction operation expression

20 - 25

In [ ]:
# Multiplication operation expression

4 * 5

In [ ]:
# Division operation expression

30/5

In [ ]:
# Integer division operation expression rounds to nearest integer

20 // 6

In [ ]:
# Mathematical expression with priority to multiplication

30 + 20 *3

In [4]:
#Mathematical Expression with priority to expressions enclosed in parentheses. Order of operations referred to as PAMDAS

(30 + 20) *3

150

#### Variables

##### we can store values in variables for later use

In [5]:
# Store value into variable

x = 10 + 20 + 30

In [6]:
# Print out the value in variable

x

60

##### Perform operations on x and save the result to a new variable:
###### ( use meaningful variable names, so you and othes can read the code and understand it more easily)

In [7]:
# Store the result of operation in another variable

var = x / 20
var

3.0

In [8]:
# Overwrite variable with new value

var = var / 20
var

0.15

In [9]:
# Assign string'Adolf Hitler' to variable 'Name' [ Execute]
Name = "Adolf Hitler"
Name

'Adolf Hitler'

### Indexing

A|d     | o | l | f   |  | H | i | t | l | e | r
--|:---------:|:-----------:|:------ :|:----:|----:|:---:|:---:|:---:|:---:|:--- :|:---
0|1     | 2  | 3 | 4   |5 | 6| 7 | 8 | 9 | 10 | 11

In [10]:
# Access first indes and print first element in the string

print(Name[0])

A

##### Negative indexing

In [11]:
# Print the second last element in the string

print(Name[-2])

e

In [12]:
# Find the length of string

len(Name)

12

#### Slicing

###### Obtain multiple characters from a string using slicing. For eg., 0 to 2nd and 5th to 8th elementL

In [13]:
Name[0:2]

'Ad'

In [14]:
Name[5:8]

' Hi'

#### Stride

##### For eg.,select every second element

In [15]:
# Get every second elements on index 0, 2, 4, 6...

Name[::2]

'AofHte'

###### Let's incorporate slicing with the stride. 
###### Let's select the first five elements and then use the stride:

In [16]:
# Get every third element in the range between Index 0 and index 4 

Name[0:4:3]

'Al'

In [17]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output

Name.find('lf')

3

#### Concatenate Strings

In [18]:
# Concatenate Strings

Sentence = Name + " was a German Politician"
Sentence

'Adolf Hitler was a German Politician'

#### Escape sequences

###### Back slashes represent the beginning of escape sequences

In [19]:
# New line escape sequence

print(Name + "\n was a German Politician")

Adolf Hitler
 was a German Politician

In [20]:
# Tab Escape sequence
print(Name + "\t was a German Politician")

Adolf Hitler	 was a German Politician

In [21]:
# Include back slash in string

print(Name + " \\ is the best" )

Adolf Hitler \ is the best

#### String Operations

##### Basic string operations using upper

In [22]:
# Convert all the characters in string to upper case

A = "Everyday life is the latest album of Coldplay"
print("before upper:", A)
B = A.upper()
print("After upper:", B)

before upper: Everyday life is the latest album of Coldplay
After upper: EVERYDAY LIFE IS THE LATEST ALBUM OF COLDPLAY

In [23]:
# Converting sequences or collection types

a = 'hello'
list(a)

['h', 'e', 'l', 'l', 'o']

In [24]:
set(a)

{'e', 'h', 'l', 'o'}

In [25]:
tuple(a)

('h', 'e', 'l', 'l', 'o')

#### Tuple
<br>
Tuples are an immutable data structure (cannot be altered).used for grouping data that will not need change, such as an IP address and port.
Tuples are presented with ()

In [26]:
# Create your first tuple [ Tuples are similar to records in a database]

Movie = ("Bohemian Rhapsody",2018,7.8)
Movie

('Bohemian Rhapsody', 2018, 7.8)

<br>The type of variable is a tuple.

In [27]:
# Print the type of the tuple you created

type(Movie)

tuple

<br> 
Print out each value in the tuple:

In [28]:
print(Movie[0])
print(Movie[1])
print(Movie[2])

Bohemian Rhapsody
2018
7.8

In [29]:
print(type(Movie[0]))
print(type(Movie[1]))
print(type(Movie[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [30]:
# Tuple is immutable. elements can not be updated
Movie[1]='The Irishman'

TypeError: 'tuple' object does not support item assignment

<br>Tuple lets us 'chunk' together related information

In [31]:
Movie1 = Movie + ("Pop music", 10)
Movie1

('Bohemian Rhapsody', 2018, 7.8, 'Pop music', 10)

Tuple supports same sequence operations as strings and slicing

In [32]:
# Slice from index 0 to index 3 [ Execute ]

Movie1[0:3]

('Bohemian Rhapsody', 2018, 7.8)

Item assignment to one of the element will return an error since Tuple is immutable

In [33]:
Movie1[1]="X"

TypeError: 'tuple' object does not support item assignment

In [34]:
Movie1[1]

2018

However we can still add additional information reference the existing tuple

In [35]:
tuple3 = Movie[:3] + ("Queen", 20) + Movie1[3:]
tuple3

('Bohemian Rhapsody', 2018, 7.8, 'Queen', 20, 'Pop music', 10)

In [36]:
# Assigning headers
tuple4 = ("Pop",20,4.5)
(Music, price, rating) = tuple4
print(Music)
print(price)
print(rating)

Pop
20
4.5

#### Nested Tuple

Tuple with another tuple with complex data types

In [37]:
NestedT =(1, 2, ("Folk", "Country") ,(3,4),("Pop",(1,2)))
NestedT

(1, 2, ('Folk', 'Country'), (3, 4), ('Pop', (1, 2)))

In [38]:
# Print element on each index, including nest indexes

print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])

# [ Execute element 3 and 4 ]

Element 2, 0 of Tuple:  Folk
Element 2, 1 of Tuple:  Country

### LISTS
<br> List is an ordered collection of values such as strings, integers and other lists as well,i.e., ordered collections of these values are referred to as sequences. The address of each element or item within a list is called an index

Create lists with elements enclosed in squared brackets [] like an array and is most commonly used collection type

In [39]:
# Create a mixed list

FL = ["White Rose", 1.5, 2019, True]
FL

['White Rose', 1.5, 2019, True]

The elements of a list are not restricted to a single data type, 
which makes sense given that python is a dynamic language

In [40]:
# Print the elements on each index

print('the same element using negative and positive indexing:\n Postive:',FL[0],
'\n Negative:' , FL[-3]  )
print('the same element using negative and positive indexing:\n Postive:',FL[1],
'\n Negative:' , FL[-2]  )
print('the same element using negative and positive indexing:\n Postive:',FL[2],
'\n Negative:' , FL[-1]  )

the same element using negative and positive indexing:
 Postive: White Rose
 Negative: 1.5
the same element using negative and positive indexing:
 Postive: 1.5
 Negative: 2019
the same element using negative and positive indexing:
 Postive: 2019
 Negative: True

In [41]:
#A list can contain another list as its element:
Nested_list = ["White Rose", 1.5, 2019, [10, 20]]
Nested_list

['White Rose', 1.5, 2019, [10, 20]]

Lists are mutable, so you can change the values in a list

In [42]:
# Change the element based on the index .is mutable

Music = ["Folk", 2010, 3.4]
print('Before change:', Music)
Music[0] = 'Country'
print('After change:', Music)

Before change: ['Folk', 2010, 3.4]
After change: ['Country', 2010, 3.4]

#### Add new elements to list

In [43]:
NList = ["White Rose", 1.5]
NList.extend(['Rose', 2020])
NList

['White Rose', 1.5, 'Rose', 2020]

#### Another similar method is append

In [44]:
NList = ["White Rose", 1.5]
NList.append(['Rose', 2020])
NList

['White Rose', 1.5, ['Rose', 2020]]

#### Add a new element to list at a specific index

In [45]:
# Insert new element at index 1
NList = ["White Rose", 1.5]
NList.insert(1,"Flower")
print(NList)

['White Rose', 'Flower', 1.5]

In [46]:
# Delete the element based on the index

print('Before change:', Music)
del(Music[0])
print('After change:', Music)

Before change: ['Country', 2010, 3.4]
After change: [2010, 3.4]

In [47]:
# Split the string, default is by space

'Chris Martin, Elvis Persley'.split(', ')

['Chris Martin', 'Elvis Persley']

In [48]:
# Count occurence of any item in list

Count_I = ['Rose',1.2, 'Rose']
Count_I.count('Rose')

2

In [49]:
# Concantenate lists

list = ['Rose',1.5]
list1 = ['Lilly',2.2]
print(list + list1)

['Rose', 1.5, 'Lilly', 2.2]

#### Objects and References

In [50]:
#Let's execute these assignment statements

A = "Pop"
B = "Pop"

A and B refers to a string object with letters "Pop", but does A and B refer to the same object ?

Since strings are immutable, python optimizes resources by making two names that refer to the same value refer to the same object

In [51]:
#In this case A and B refer to same object

A is B

True

This is not the case with lists

In [52]:
A = ["Pop","Hard Rock","Country"]
B = ["Pop","Hard Rock","Country"]
A == B

True

In [53]:
A is B

False

#### Aliasing

In [54]:
A = ["Pop","Hard Rock","Country"]
B = A

In [55]:
A is B

True

In [56]:
# Changes made with one reflects change in the other

A[0]= "Metallic"
B

['Metallic', 'Hard Rock', 'Country']

In [57]:
B

['Metallic', 'Hard Rock', 'Country']

#### Cloning Lists

Keep copy of the original and modify the list

In [58]:
A = ["Pop","Hard Rock","Country"]
B = A[:]
B

['Pop', 'Hard Rock', 'Country']

In [59]:
# Replace index 0 of A by Metallic and execute B [ Execute ] 
A[0]="Metallic"
B

['Pop', 'Hard Rock', 'Country']

### Dictionaries

<br> A dictionary is a collection of  keys-value pairs. It is helpful to compare a dictionary to a list. Instead of the numerical indexes such as a list, dictionaries have keys.
To get a value, refer to it by its key

In [60]:
# Create the dictionary. Multiple keys can hold same value

Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

In [61]:
# Access to the value by the key

Dict["key1"]

1

In [62]:
Dict.keys()

dict_keys(['key1', 'key2', 'key3', 'key4', 'key5', (0, 1)])

In [63]:
print(Dict.values())

dict_values([1, '2', [3, 3, 3], (4, 4, 4), 5, 6])

 Each key is separated from its value by a colon "<code>:</code>".  Commas separate the items, and the whole dictionary is enclosed in curly braces "<code>{}</code>" .

#### Why we use dictionaries at all when the same concept of mapping a key to a value could be implemented using a list of tuples ?

The reason is dictionaries are very fast, implemented using a technique called hashing, which allows us to access a value very quickly. If we wanted to find a value associated with a key, we would have to iterate over every tuple. What if the key wasn't in the list ?

In [64]:
[('key1', 1),('key2',2)]

[('key1', 1), ('key2', 2)]

In [65]:
#Dictionaries resemble JSON syntax
capitals = {
    'India': 'New Delhi',
    'France':'Paris',
    'Germany':'Berlin'
}

#capital_key = capitals['Germany']

for k in capitals.keys():
    print('{} is the capital of {}'.format(capitals[k],k))

New Delhi is the capital of India
Paris is the capital of France
Berlin is the capital of Germany

#### Aliasing and copying

If we want to modify a dictionary and keep a copy of the original, use the "<code>copy</code>" method.

In [66]:
Dict = {"key1": "Pop", "key2": "2019", "key3": "20.5"}

alias = Dict
copy = Dict.copy()

In [67]:
alias["key2"]="Newkey"
Dict["key2"]

'Newkey'

If we modify "<code>copy</code>", Dict will be unchanged

In [68]:
copy["key2"]="update"
Dict["key2"]

'Newkey'

## Sets

A set is unique( no repeats) unordered collection of objects and can be denoted with curly bracket {}. They are used in situations where it is only important that some things are grouped together and not what order they were included. Also it is much faster to check whether or not an element is in a set that to do in a list

In [69]:
#Create a set

First_names = {'Adam','Nysa','Ron'}
First_names

{'Adam', 'Nysa', 'Ron'}

In [70]:
# Convert list to set . And set supports datatypes but not collections

album_list = [ "Elvis Persley", 1970,"Pop, Rock", 46.0, 65, "30-Nov-80", None, 10.0]
album_set = set(album_list)             
album_set

{10.0, 1970, '30-Nov-80', 46.0, 65, 'Elvis Persley', None, 'Pop, Rock'}

In [71]:
# Convert list to set . assign set to music_genres [ Execute ]

music = ["pop", "pop", "rock","R&B", "disco"]

music_genres = set(["pop", "pop", "rock","R&B", "disco"])
music_genres

{'R&B', 'disco', 'pop', 'rock'}

### Set logic Operators

In [72]:
music_Band1 = set(["Queen",'Coldplay','Beatles'])
music_Band2 = set(["Beatles",'Queen','Passenger','Coldplay'])

In [73]:
#Print two sets

music_Band1, music_Band2

({'Beatles', 'Coldplay', 'Queen'},
 {'Beatles', 'Coldplay', 'Passenger', 'Queen'})

In [74]:
# Find the intersections of two sets using & 

intersection = music_Band1 & music_Band2
intersection

{'Beatles', 'Coldplay', 'Queen'}

You can find all the elements that are only contained in music_Band1 using the difference method:

In [75]:
music_Band2.difference(music_Band1)

{'Passenger'}

In [76]:
# Find the union of two sets

music_Band1.union(music_Band2)

{'Beatles', 'Coldplay', 'Passenger', 'Queen'}

In [77]:
# Find the union of two sets - method 2
music_Band1 | music_Band2

{'Beatles', 'Coldplay', 'Passenger', 'Queen'}

In [78]:
# Check if music_Band2 is superset
# tests whether each element of Band1 is in Band2

set(music_Band2).issuperset(music_Band1)

True

In [79]:
# Check if music_band1 is subset
# teste whether each element of Band1 is in Band2

set(music_Band1).issubset(music_Band2)

True

In [80]:
set({"Queen"}).issubset(music_Band1)

True

## Functions

Function is a resusable code which executes some logic. Their primary purpose is to help us organize programs into chunks that match how we think about the problem.

The syntax for a function definition is:

def NAME( PARAMETERS ):
    STATEMENTS
    
- A header line begins with a function name and parameter or argument within parenthesis.
- A body consists of one or more Python statements, indented at the same amount — recommending 4 spaces — from the header line
- For eg.; print(),len(),.append() are functions created by python creators

In [81]:
# An example of a simple function definition.
#It's purpose is to print 'Hello' each time its called
def greet():
    print("Hello")

In [82]:
greet()

Hello

<br>
`add_numbers` is a function that takes two numbers and adds them together.

In [83]:
def add_numbers(x, y):
    return x + y

add_numbers(10, 2)

12

<br>
`add_numbers` updated to take an optional 3rd parameter. Using `print` allows printing of multiple expressions within a single cell.

In [84]:
def add_numbers(x,y,z=None):
    if (z==None):
        return x+y
    else:
        return x+y+z

print(add_numbers(1, 2))
print(add_numbers(1, 2, 3))

3
6

<br>
Assign function `add_numbers` to variable `a`.

In [85]:
def add_numbers(x,y):
    return x+y

a = add_numbers
a(1,2)

3

### What is <code>for</code> loop?

The <code>for</code> loop enables you to execute a code block multiple times( or in iterations ). For example, you would use this if you would like to print out every element in a list.

In [86]:
X = [1,2,3,4]
for i in X:
    print(i,end=" ")

1 2 3 4

Here's an example of mapping the 'min' function between two lists.

map() function applies logic to each element in the collection!

In [87]:
#Cheapest prices between two stores

store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.34, 2.01,3.0]
cheapest = map(min, store1, store2)
cheapest

In [88]:
## Use 'for' loop and print values of 'cheapest'
for i in cheapest:
    print(i,end=" ")

9.0 11.0 12.34 2.01

#### Lambda expressions ( you can assign a variable to lambda unlike function )

lambda creates an inline function that contains a single expression. Typically used with sorted, filter and map

In [89]:
#instead of def function
greet = lambda:"Hello"
greet()

'Hello'

In [90]:
# Only one function can be applied taking arguments
a = 10
sq = lambda x:x*x
sq(a)

100

In [97]:
# Iterate over a list with value manipulation using map and lambda

a = map(lambda e : e.upper(), ['one', 'two', 'three', 'four'])
#print(list(a))
for i in a:
    print(i,end=" ")

ONE TWO THREE FOUR

In [98]:
my_list = [3,-4,-2, 5, 1, 7]

filt=filter(lambda x: x>0, my_list)
for i in filt:
    print(i,end=" ")

3 5 1 7

In [99]:
my_list = []
for number in range(0, 100):
    if number % 2 == 0:
        my_list.append(number)
print(my_list,)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

#### Using enumerate

##### A useful function for iterating data is enumerate , can be used to obtain index and element in the list

In [100]:
numbers = ['one','two','three','four']

In [101]:
# we will pass numbers as argument in thsi function and variable index as index 

for index, numbers in enumerate(numbers):
    print(index, ':',numbers)

0 : one
1 : two
2 : three
3 : four

<br>
Now the same thing but with list comprehension.

In [102]:
# Returns only odd numbers
my_list = [number for number in range(0,100) if number % 3 == 0]
print(my_list,)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

### What is <code>while</code> loop?  Not recommended for Data Analytics work!

As you can see, the <code>for</code> loop is used for a controlled flow of repetition. However, what if we don't know when we want to stop the loop? What if we want to keep executing a code block until a certain condition is met? The <code>while</code> loop exists as a tool for repeated execution based on a condition. The code block will keep being executed until the given logical condition returns a **False** boolean value.

Let’s iterate through list <code>dates</code> and stop at the year 2015, then print out the number of iterations. This can be done with the following block of code:

In [103]:
# While Loop 

dates = [2017, 2005, 2015, 2000]

i = 0
year = 0

while(year != 2015):
    year = dates[i]
    i = i + 1
    print(year)

print("It took ", i ,"repetitions to get out of loop.")

2017
2005
2015
It took  3 repetitions to get out of loop.

##### Using for loop and if

In [104]:
a = [2017,2005,2015,2010]
for i in a:
    print(i,end =" ")
    if i == 2015:
        break
else:
    print("search complete")

2017 2005 2015